.sidebar {
  background-color: $base-color;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  &__header {
    height: 70px;
  }

  &__add-new-button {
    text-align: center;
    padding-top: 20px;
  }
}
